@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blue-500 {
  background-color: #f4d06f;
}

.bg-orange-400 {
  background-color: #f4d06f;
}

.bg-orange-500 {
  background-color: #ff8811;
}

h1 {
  font-family: gilroy, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.custom-div-shadow {
  box-shadow: 0px 1px 4px 1px #0000004f;
  }
.custom-button-color {
  background: #ffab56;
  background-image: -webkit-linear-gradient(top, #ffab56, #ff8811);
  background-image: -moz-linear-gradient(top, #ffab56, #ff8811);
  background-image: -ms-linear-gradient(top, #ffab56, #ff8811);
  background-image: -o-linear-gradient(top, #ffab56, #ff8811);
  background-image: linear-gradient(to bottom, #ffab56, #ff8811);
}
.custom-button-color:hover {
  background: #fa942d;
  background-image: -webkit-linear-gradient(top, #fa942d, #d66b00);
  background-image: -moz-linear-gradient(top, #fa942d, #d66b00);
  background-image: -ms-linear-gradient(top, #fa942d, #d66b00);
  background-image: -o-linear-gradient(top, #fa942d, #d66b00);
  background-image: linear-gradient(to bottom, #fa942d, #d66b00);
}
.custom-button-border {
  border-color: #ffb870;
}
.custom-button-shadow {
  box-shadow: 0px 0px 0px 1px #ff8e1d;
}